<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/post.css">
  <link rel="stylesheet" href="/profile.css">
</head>
<body>
  <%- include('./partials/nav') %>

  <section class="main">

    <div class="profile">
      <div class="profile-info">
        <div class="profile-name">John Smith</div>
        <div class="profile-login">johnsmith01</div>
        <div class="profile-otherdata"></div>
      </div>
      <div class="profile-posts">

        <div class="post">
          <h2 class="post-heading">
            <a href="/post">Post heading</a>
          </h2>
          <div class="post-author">
            John Smith
          </div>
          <div class="post-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non architecto commodi assumenda eius, suscipit eaque praesentium itaque, modi blanditiis maiores tempora. Sapiente nobis expedita sequi voluptatibus nostrum ducimus magnam ullam, dolorem, sint odit ratione facere, minima quas mollitia atque. Saepe.
          </div>
          <div class="post-date">03.12.2022</div>
        </div>

        <div class="post">
          <h2 class="post-heading">
            <a href="/post">Post heading</a>
          </h2>
          <div class="post-author">
            John Smith
          </div>
          <div class="post-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non architecto commodi assumenda eius, suscipit eaque praesentium itaque, modi blanditiis maiores tempora. Sapiente nobis expedita sequi voluptatibus nostrum ducimus magnam ullam, dolorem, sint odit ratione facere, minima quas mollitia atque. Saepe.
          </div>
          <div class="post-date">03.12.2022</div>
        </div>

      </div>
    </div>

  </section>
</body>
</html>