<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/nav') %>

  <section class="main">
    <h1>Contact us</h1>
    <ul>
      <li>Arthur</li>
      <li>Tommy</li>
      <li>John</li>
      <li>Michael</li>
    </ul>
  </section>
  
</body>
</html>