<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/nav') %>
  <section class="main" style="text-align: center;">
    <h1>Something went wrong.</h1>
    <span>
      The error has been thrown for some reason...
    </span>
  </section>
</body>
</html>