<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/nav') %>
  <section class="main" style="text-align: center;">
    <h1>Hello from homepage!</h1>
    <span>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum architecto inventore corporis nobis exercitationem assumenda ea, repudiandae in quam. Molestiae ab nulla repudiandae ut? In rem at numquam dolore laudantium.
    </span>
  </section>
</body>
</html>