<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/new-post">New post</a></li>
    <li><a href="/contacts">Contacts</a></li>
  </ul>
  <!--<a href="/profile">Profile</a>
  <button onclick="window.location.replace('/registration')">Log out</button>-->
</nav>