.post-heading a,
.post-author a {
  text-decoration: none;
  color: inherit;
}

.post {
  position: relative;
  margin-bottom: 50px;
}

.post-author {
  position: absolute;
  display: block;
  top: 2px;
  right: 5px;
  font-style: italic;
}

.post-date {
  margin-top: 10px;
  margin-right: 5px;
  float: right;
  font-style: italic;
}

.post-control-actions {
  font-size: 0.9rem;
  margin-top: 10px;
}
